.col-md-6.col-md-offset-3
 .row
  .panel.panel-default
   .panle-heading
    %h1 New Pin
    .panel-body
    %string-center Current Image
    %br/
    =image_tag @pin.image.url(:medium)
    %br/
    =render 'form'
